@{
    ViewBag.Title = "GlobalStats";
}
<h3>Most popular programming languages</h3>
<div id="chart" style="width: 900px; height: 500px;"></div>


@section scripts {
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("visualization", "1", { packages: ["corechart"] });
        google.setOnLoadCallback(drawChart);

        function drawChart() {
            $.ajax({
                url: '/api/Global',
                type: 'GET',
                dataType: 'json'
            }).done(function (data) {

                var dict = [['Programming_Language', 'Number_of_tweets']];

                for (var i = 0; i < data.length; i++) {
                    var item = data[i]
                    dict.push([item.Prog_Lang, item.Tweets]);
                }

                var data = google.visualization.arrayToDataTable(dict);

                var options = {
                    pieHole: 0.4,
                };

                var chart = new google.visualization.PieChart(document.getElementById('chart'));

                chart.draw(data, options);

            }).error(function (e) {
                alert("errore")
            })

        }
    </script>
}